.alert-enter-active {
	/* transition: all 0.3s ease; */
	animation: wobble 0.8s ease;
}

.alert-leave-from {
	opacity: 1;
	transform: translateY(0);
}

.alert-leave-to {
	opacity: 0;
	transform: translateY(-60px);
}

.alert-leave-active {
	transition: all 0.3s ease;
}

@keyframes wobble {
	0% {
		opacity: 0;
		transform: translateY(-60px);
	}

	50% {
		opacity: 1;
		transform: translateY(0);
	}
	60% {
		transform: translateX(8px);
	}
	70% {
		transform: translateX(-8px);
	}
	80% {
		transform: translateX(4px);
	}
	90% {
		transform: translateX(-4px);
	}
	100% {
		transform: translateX(0);
	}
}

.list-enter-active {
	animation: wobble 0.8s ease;
}
.list-leave-active {
	transition: all 1s ease;
}

.list-enter-from {
	opacity: 1;
	transform: translateY(0);
}
.list-leave-to {
	opacity: 0;
	transform: translateY(30px);
}
.list-move {
	transition: transform 0.4s ease;
}
