.custom-badge {
	background-color: $light-color;
	border-radius: 1rem;
	color: $dark-grey-color;
	font-size: 0.8rem;
	padding: 1px 8px;
	border: 1px solid $grey-color;
	display: inline-block;
	margin-right: 0.4rem;
	margin-bottom: 0.4rem;

	&-warning {
		background-color: #fdf5dd;
		border: 1px solid #f0e4bc;
		color: #be8c0c;
	}

	&-success {
		background-color: #cff6dd;
		border: 1px solid #9eeebb;
		color: #4daf4d;
	}

	&-info {
		background-color: #d1ecf1;
		border: 1px solid #bee5eb;
		color: #29558f;
	}
}
