.mini-search-company {
	display: block;

	width: 100%;
	border: 1px solid $grey-color;
	border-radius: 3px;
	margin-bottom: 1rem;
	padding: 0.3rem 0.5rem;

	&:focus {
		outline: none;
		// border-bottom: 2px solid #1c344c;
	}
}

.input-custom-search {
	display: block;
	width: 100%;
	border: 1px solid $grey-color;
	padding: 0.3rem 0.5rem;
	font-family: inherit;

	&:focus {
		outline: none;
		// border-bottom: 2px solid #1c344c;
	}
}
