table tbody tr {
	height: 40px;
}

table tbody tr:last-child {
	border: 0;
}

table td {
	text-align: left;
	align-self: center;
	padding: 8px !important;
	vertical-align: unset !important;
	line-height: 1.2;
}

th {
	font-size: 16px;
	color: rgb(99, 99, 99);
	line-height: 1.2;
	font-weight: 500 !important;
}

// tbody tr:nth-child(even) {
// 	background-color: #f8f8f8
// }

tbody tr {
	font-size: 15px;
	color: gray;
	line-height: 1.2;
	min-height: 60px;
	font-weight: unset;
}

tbody tr:hover {
	color: rgb(73, 73, 73);
	background-color: #f5f5f5;
	cursor: pointer;

	input {
		background-color: #f5f5f5;
	}
}

table {
	border-spacing: 1;
	border-collapse: collapse;
	// background: #fff;
	background-color: #fafafa !important;
	border-radius: 0px !important;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

table thead tr {
	// height: 55px;
	background: #ececec;
	border: 0px;
}

// table td,
// table th {
// 	padding-left: 8px
// }

.table-bordered thead th {
	border: 1px solid #dee2e6;
}

.alert-danger {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}

.alert-success {
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb;
}

.alert-info {
	color: #0c5460;
	background-color: #d1ecf1;
	border-color: #bee5eb;
}

.alert-warning {
	color: #74683c;
	background-color: #fcf3cd;
	border-color: #fbeeba;
}

.table_input {
	border: none;
	display: block;
	width: 100%;
	background-color: inherit !important;
	font-weight: 600;
	font-size: 0.9rem;
	&:focus,
	&:hover {
		outline: 0;
		// background-color: #f5f5f5;
	}
}
